
@{
    ViewBag.Title = "Failure";
}

<div class="message">
    <h2 class="title">Something went wrong.</h2>
    <h5>Payment declined.</h5>
</div>

<p><a href="http://localhost:4200/Home" class="btn btn-primary">Go back</a></p>