
@{
    ViewBag.Title = "Success";
}
<div class="message">
    <h2 class="title">Successful Payment!</h2>
    <h5>Thank you for your booking!</h5>
</div>


<p class="btnBack"><a href="http://localhost:4200/Home" class="btn btn-primary">Go back</a></p>